[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
geojson = "*"
keplergl = "*"
numpy = "*"
pandas = "*"
scikit-learn = "*"

[dev-packages]
black = "*"
wheel = "*"
pytest = "*"

[requires]
python_version = "3.9"
